body{
    margin:0;
    padding:0;
    text-align:center;
}
.jsr{
    width:100%;
    
}
.toparea{
    background:#B75751;
    padding:10px 0;
    color:white;
}
.logoarea{
    background:#F3C38C;
    padding:50px 0;
}
.logoarea img{
    width:110px;
}
.logoarea h1{
    color:#743540;
}
.parea{
    padding:50px 0;
}
.parea p{
    text-align:justify;
}
.parea p:last-child{
    text-align:right;
}
.d-flex .btn{
    border-color:#0B6EFD;
    color:#0B6EFD
}
.d-flex .btn:hover{
background: #0B6EFD;
color:white;
}
.nav-link{
    color:red;
}
.active{
    color:red !important;

}
.accordion-button::after {
    color:red !important;
    background-color:yellow;
    --bs-accordion-btn-icon:url("angle-top-svgrepo-com copy.svg") !important;
}
